.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    border: 1px solid black;
    height: 4rem;
    align-items: center;
}
.mainContainer img{
    width: 3rem;
    margin-top: 1px;
}